@charset "utf-8";

/* CSS Document */
/* 全局样式定义 */
html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-y: scroll;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*body,button,input,select,textarea{font:12px/1 "Microsoft YaHei",arial,tahoma,sans-serif}*/
/*为了兼容旧页面的行间距，还改成原来的1.5*/
body,
button,
input,
select,
textarea {
  font: 12px/1.5 'Microsoft YaHei', arial, tahoma, sans-serif;
}

input,
select {
  box-sizing: content-box !important;
}

/*为了覆盖引入bootstrap后input被重置为border-box*/
body {
  color: #333;
}

input,
select,
textarea {
  font-size: 100%;
  outline: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: inherit;
}

iframe {
  display: block;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}

em {
  font-style: normal;
}

img {
  border: none;
}

label {
  cursor: pointer;
}

html {
  height: 100%;
  overflow-y: auto;
}

body {
  min-height: 100%;
  position: relative;
  overflow: auto;
}

a {
  outline: none;
}

/*****************

常用样式定义

*****************/
*:hover,
*:focus {
  transition: background-color 0.2s, border-color 0.2s;
}

/* 边距定义 */
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr15 {
  padding-right: 15px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl15 {
  padding-left: 15px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.p10 {
  padding: 10px !important;
}

.p15 {
  padding: 15px !important;
}

.p20 {
  padding: 20px !important;
}

.mt8- {
  margin-top: -8px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mt1- {
  margin-top: -1px
}

.mt4- {
  margin-top: -4px !important
}

.width50p {
  width: 50%
}

.lineh-20 {
  line-height: 20px
}

.ml25 {
  margin-left: 25px
}

.pl46 {
  padding-left: 46px
}

.pt0 {
  padding-top: 0 !important
}

.height10 {
  height: 10px
}

.height18 {
  height: 18px
}

.pb28 {
  padding-bottom: 28px
}

.mr60 {
  margin-right: 60px
}

.mb40 {
  margin-bottom: 40px
}

.inlineblock {
  display: inline-block
}


.mb15 {
  margin-bottom: 15px !important
}

.pb20 {
  padding-bottom: 20px !important
}

.pb30 {
  padding-bottom: 30px !important
}

/* 隐藏 */
.fn-hide {
  display: none;
}

/* 清理浮动 */
.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

.fn-clear {
  zoom: 1;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
  display: inline;
}

.fn-left {
  float: left;
}

.fn-right {
  float: right;
}

/*垂直居中*/
.vm {
  vertical-align: middle !important
}

/*垂直居顶部*/
.vt {
  vertical-align: top !important
}

/*截字*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*字母数字折行*/
.wordwrap {
  word-wrap: break-word;
  word-break: break-all;
}

.whitewrap {
  white-space: nowrap;
}

/*相对定位*/
.relative {
  position: relative;
}

/*手型*/
.pointer {
  cursor: pointer;
}

/* 字体大小 */
.font-12 {
  font-size: 12px;
  font-weight: normal;
}

/* 12号不加粗 */
.font-12-b {
  font-size: 12px;
  font-weight: bold;
}

/* 12加粗 */
.font-14 {
  font-size: 14px;
  font-weight: normal;
}

/* 14号不加粗 */
.font-14-b {
  font-size: 14px;
  font-weight: bold;
}

/* 14号加粗 */
.font-16 {
  font-size: 16px;
}

/* 16号 */
.font-18 {
  font-size: 18px;
}

/* 18号 */
.font-20 {
  font-size: 20px;
}

/* 20号 */
.font-24 {
  font-size: 24px;
}

/* 24号 */
.font-26 {
  font-size: 26px;
}

/* 26号 */
.font-28 {
  font-size: 28px;
}

/* 28号 */
.font-30 {
  font-size: 30px;
}

/* 30号 */
.fontL {
  font-size: 28px
}

.lh1 {
  line-height: 1
}


.linetop_v1 {
  border-top: 1px solid #f5f5f5
}

.linebottom_v1 {
  border-bottom: 1px solid #f5f5f5
}

.lineright_v1 {
  border-right: 1px solid #f5f5f5
}

.fontArialyield {
  display: inline-block;
  line-height: 1;
  vertical-align: top;
  position: relative;
  top: 1px
}


/* 字体样式 */
.font-yh {
  font-family: 'Microsoft Yahei';
}

.number {
  font-family: Arial, Helvetica, sans-serif
}


.font-12 {
  font-size: 12px !important
}

.font-normal {
  font-weight: normal !important
}

.grey-lighterer {
  color: #e6e6e6 !important
}


/* 雅黑字体 */
.font-arial {
  font-family: Arial;
}

/* Arial字体 */
.font-bold {
  font-weight: bold;
}

.text-line {
  text-decoration: line-through;
}

/* 删除线 */
/* 对齐 */
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

/* 边线 */
.linebottom {
  border-bottom: 1px solid #ebebeb;
}

.linebottomdoted {
  border-bottom: 1px dotted #bfbfbf;
}

.linerightdoted {
  border-right: 1px dotted #bfbfbf;
}

.linetop {
  border-top: 1px solid #ebebeb;
}

/* 表单定义 */
.radio,
.checkbox {
  width: 13px;
  height: 13px;
  overflow: hidden;
  vertical-align: middle;
  margin: -4px 5px 0 0;
}

.inp-text {
  height: 22px;
  border: 1px solid #e1e1e1;
  padding: 0 5px;
}

/* 输入框默认加的样式 */
select {
  border: 1px solid #d9d9d9;
}
