/*tab鍒囨崲*/


/****缁撴瀯css*****/


/*box*/

.ics_box {
    border-radius: 4px;
}

.ics_box .box-hd {
    position: relative;
    padding: 20px;
    font-size: 16px;
    line-height: 1;
}

.ics_box .box-hd-switch {
    position: absolute;
    top: 12px;
    right: 20px;
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
}

.ics_box .box-bd {
    padding: 20px;
}

.ics_box .box-bd-nospace {
    padding: 0;
}

.ics_box .box-bd-notopspace {
    padding-top: 0;
}

.ics_box .box-hd .ics_tab {
    position: relative;
    top: 0px;
}


/*姘村钩*/

.ics_tab {
    display: inline-block;
    font-size: 14px;
}

.ics_tab a {
    padding: 0 12px 14px;
    margin-right: 8px;
}

.ics_tab a:last-child {
    margin-right: 0;
}

.ics_tab .tab-list {
    display: none;
}

.ics_tab .tab-list.current {
    display: block;
}


/*鍨傜洿*/

.ics-tab1 {}

.ics-tab1 .tab1-item {
    padding: 20px 0;
}

.ics-tab1 .tab1-item li {
    text-align: right;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
    /*padding: 0 12px;*/
    padding:0 12px 0 6px;
    cursor: pointer;
}

.ics-tab1 .tab1-item .selected {
    cursor: default;
}


/*鏍囬tab*/
.ics_tab-large{ display:block; border-bottom:1px solid #d9d9d9;}
.ics_tab-large a{ display:inline-block; padding:0 0 12px; font-size:20px; margin-left:10px; margin-right:10px;}


/*澶氫釜tab宸﹀彸鍒囨崲*/

.ics_tab-multiple {
    padding-bottom: 0 !important;
}

.ics_tab-multiple .tab-mulitple-expand {
    width: 110px;
    overflow: hidden;
    white-space: nowrap;
}

.ics_tab-multiple .tab-mulitple-wrap {
    margin-left: 120px;
    height: 36px;
    position: relative;
}

.ics_tab-multiple .tab-mulitple-wrap .ics_tab-item {
    white-space: nowrap;
}

.ics_tab-multiple .tab-switch {
    padding: 3px;
    position: absolute;
    bottom: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.ics_tab-multiple .tab-switch:hover {
    background-color: #f5f5f5;
}

.ics_tab-multiple .tab-switch-left {
    left: 0;
}

.ics_tab-multiple .tab-switch-right {
    right: 0;
}

.ics_tab-multiple .tab-mulitple-con {
    overflow: hidden;
    margin: 0 20px;
}

.ics_tab-multiple .tab-mulitple-nav {
    width: 100000px;
    height: 36px;
    overflow: hidden;
}

.tab-mulitple-nav {
    position: relative;
}

.tab-switch.disabled {
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: default;
}

.tab-list {
    display: none;
}

.tab-list.selected {
    display: block;
}

.tab1-list {
    display: none;
}

.tab1-list.selected {
    display: block;
}

.ics-hr-menu li {
    float: left;
}

.ics-hr-menu li.selected a {
    border-bottom: 4px solid #4ca6ff;
    color: #4ca6ff;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.ics-tab1 .tab1-item li a {
    display: block;
    color: #666;
}

.tab-list.selected {
    display: block;
}

.ics_tab {
    margin-bottom: -2px;
}


/*鍒嗘爮*/

.ics_column {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.ics_column .column-item {
    display: table-cell;
}

.ics_column .column-item:first-child {
    border-left: 0;
}

.ics_column-noborder .column-item {
    border-left: 0;
}

.ics_column .ics-tab1 {
    margin-right: -1px;
    position: relative;
}

.ics_tWrapL {
    width: 86px;
    padding-left: 20px;
}

.ics_tWrapR {
    padding: 20px;
}


/*****鐨偆css*****/


/*box*/

.ics_box {
    background-color: #fff;
    box-shadow: 1px 1px 2px #ebebeb;
}

.ics_box .box-hd {
    border-bottom: 1px solid #ebebeb;
    color: #333;
}

.ics_box .box-hd-switch:hover {
    background-color: #f5f5f5;
}


/*tab 鍒囨崲*/

.ics_tab a {
    color: #666;
}

.ics_tab a.selected,
.ics_tab a:hover {
    border-bottom: 4px solid #4ca6ff;
    color: #4ca6ff;
}

.ics-tab1 .tab1-item {
    border-right: 1px solid #ebebeb;
}

.ics-tab1 .tab1-item li {
    color: #666;
    border: 1px solid #fff;
    border-right-color: #ebebeb;
}

.ics-tab1 .tab1-item .selected {
    border-color: #ebebeb;
    border-right-color: #fff;
    color: #4ca6ff;
}
.ics-tab1 .tab1-item .selected a{
    color:#4ca6ff;
}


/*鍒嗘爮*/

.ics_column .column-item {
    border-left: 1px solid #ebebeb;
}